.wrapper {
  max-width: calc(46rem + 2rem + 2rem);
  margin: -1.6875rem auto 5rem auto;
  padding: 0 2rem;

  align-items: center;
  justify-content: center;
}

.wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.emptyTaskList {
  border-top: 1px solid var(--gray-400);

  text-align: center;
  color: var(--gray-300);
}

.emptyTaskList p {
  margin-top: 1rem;
  font-weight: 700;
}

.emptyTaskList img {
  margin-top: 4rem;
  height: 3.5rem;
  width: 3.5rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}